### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

### Mac OS ###
.DS_Store